<div class="wrapper wrapper_padding clearfix">
 <div class="col-1 about homepage_content">
  <h2>About</h2>
  <hr>
<h3>The problem</h3>
<p>Reliable energy consumption data in form of profiles and footprint is not available to decision makers in a format they can use to make investment decisions.</p> 
<p>PlugIn energy monitors, measures and provides data to decision makers in a format they can use so they can make the decisions on adoption of renewable energy or understand their energy needs better. <a href="http://www.negawattchallenge.com/">See Here.</a></p>
 </div>

 <div class="col-2 homepage_content">
  <h2>Articles we've written</h2>
  <hr>

  <% @posts.each do |post| %> 
   <h3><a href="#"><%= link_to post.title, user_post_path(4, post) %></a></h3>
   <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
  <% end %>
 </div>

 <div class="col-3 homepage_content">
   <h2>What we are Working on</h2>
   <hr>
  <% @projects.each do |project| %>
    <h3><a href="#"><%= link_to project.title, user_project_path(4, project) %></a></h3>
    <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
  <% end %>
 </div>
</div>
